<p-dialog [(visible)]="showDialog" [style]="{ width: '450px' }" header="Detalles del perfil" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            @if(profile.profile_code) {
            <div>
                <label for="name" class="block font-bold mb-3">Código del perfil</label>
                <input type="text" pInputText id="name" [(ngModel)]="profile.profile_code" placeholder="Juanito Pérez"
                    [ngClass]="{ 'ng-invalid ng-dirty': errors()['profile_code'] }" required autofocus fluid />
                <small class="text-red-500" *ngIf="!profile.profile_code || errors()['name']">{{
                    errors()['profile_code'] ?
                    errors()['profile_code'] : 'El usuario es obligatorio.'}}</small>
            </div>
            }
            <div>
                <label for="name" class="block font-bold mb-3">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="profile.name" placeholder="Juanito Pérez"
                    [ngClass]="{ 'ng-invalid ng-dirty': errors()['name'] }" required autofocus fluid />
                <small class="text-red-500" *ngIf="!profile.name || errors()['name']">{{ errors()['name'] ?
                    errors()['name'] : 'El usuario es obligatorio.'}}</small>
            </div>
            @if(profile.created_at) {
            <div>
                <label for="name" class="block font-bold mb-3">Fecha de creación: {{ profile.created_at }}</label>
            </div>
            }
            <div>
                <label for="profiles" class="block font-bold mb-3">Secciones/Permisos</label>
                <p-multiSelect id="profiles" [options]="permissions" [(ngModel)]="profile.sections"
                    [showClear]="true" optionLabel="name" optionValue="id" placeholder="Selecciona" appendTo="body"
                    display="chip" fluid />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" [loading]="processing" />
        <p-button label="Guardar" icon="pi pi-check" (click)="saveProfile()" [loading]="processing" />
    </ng-template>
</p-dialog>
