<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Agregar" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" *ngIf="can('profiles:create')"/>
    </ng-template>

    <ng-template #end *ngIf="can('profiles:export')">
        <p-button class="mx-1" label="Exportar PDF" icon="pi pi-file-pdf" severity="secondary" (onClick)="exportPdf()"
            [loading]="loadingPdf" />
        <p-button class="mx-1" label="Exportar XLSX" icon="pi pi-file-excel" severity="secondary"
            (onClick)="exportXlsx()" [loading]="loadingXlsx" />
    </ng-template>
</p-toolbar>

<p-table #dt [value]="profiles()" [rows]="10" [columns]="cols" [paginator]="true" [globalFilterFields]="['name', 'user']"
    [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} usuarios" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]" [loading]="loadingProfiles">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Administrar Perfiles</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" [(ngModel)]="search" (keyup.enter)="onGlobalFilter()"
                    placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="min-width: 16rem">Código</th>
            <th pSortableColumn="name" style="min-width:16rem">
                Nombre
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="created_at" style="min-width: 8rem">
                Fecha de creación
                <p-sortIcon field="create_at" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-profile>
        <tr>
            <td style="min-width: 12rem">{{ profile.profile_code }}</td>
            <td style="min-width: 16rem">{{ profile.name }}</td>
            <td style="min-width: 16rem">{{ profile.created_at }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editProfile(profile)" *ngIf="can('profiles:update')"/>
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteProfile(profile)" *ngIf="can('profiles:delete')"/>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="profileDialog" [style]="{ width: '450px' }" header="Detalles del perfil" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            @if(profile().profile_code) {
                <div>
                    <label for="name" class="block font-bold mb-3">Código del perfil</label>
                    <input type="text" pInputText id="name" [(ngModel)]="profile().profile_code" placeholder="Juanito Pérez"
                        [ngClass]="{ 'ng-invalid ng-dirty': errors()['profile_code'] }" required autofocus fluid />
                    <small class="text-red-500" *ngIf="!profile().profile_code || errors()['name']">{{ errors()['profile_code'] ?
                        errors()['profile_code'] : 'El usuario es obligatorio.'}}</small>
                </div>
            }
            <div>
                <label for="name" class="block font-bold mb-3">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="profile().name" placeholder="Juanito Pérez"
                    [ngClass]="{ 'ng-invalid ng-dirty': errors()['name'] }" required autofocus fluid />
                <small class="text-red-500" *ngIf="!profile().name || errors()['name']">{{ errors()['name'] ?
                    errors()['name'] : 'El usuario es obligatorio.'}}</small>
            </div>
            @if(profile().created_at) {
                <div>
                    <label for="name" class="block font-bold mb-3">Fecha de creación: {{ profile().created_at }}</label>
                </div>
            }
            <div>
                <label for="profiles" class="block font-bold mb-3">Secciones/Permisos</label>
                <p-multiSelect id="profiles" [options]="permissions()" [(ngModel)]="profile().sections" [showClear]="true"
                    optionLabel="name" optionValue="id" placeholder="Selecciona" appendTo="body" display="chip" fluid />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" [loading]="processing" />
        <p-button label="Guardar" icon="pi pi-check" (click)="saveProfile()" [loading]="processing" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />

<p-toast />